extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner BFR - Build for Rent
    div.Message
      div.Title
        h3 Find Your Dream Home
        h1 Move in Ready
      span.Details Access the BFR Team Portal
    div.NavButtons
      a(href="/user")
          div.NavButton Come on in!